<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Login form</h1>
        <form action="/verify" method="get">
            <table>
                <tr>
                    <td>Enter a name :</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Enter a age :</td>
                    <td><input type="number" name="age"></td>
                </tr>
                <tr>
                    <td>Enter a sal :</td>
                    <td><input type="number" name="sal"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </center>
</body>

</html>